.footer{
    background-color: #353434;
    color: #fff;
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.nossbitTitle{
    font-size: 36px;
}