body{
  background-color: #101010;
  overflow-x: hidden;
}



/*.indexContainer{
  height: 85vh;
}*/

.container{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  
  .content{
    text-align: start;
  }
  
  .content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
  }
  
  .content a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border: 3px solid #f0be41;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .content a:hover{
    background: linear-gradient(90deg,
      rgb(236.94, 177.62, 25.08) 0%,
      rgb(245.44, 203.91, 56.66) 46.15%,
      rgb(235.88, 202.14, 115.38) 100%);
    color: #000;
  }
  
  .background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  @media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
  }
  
  @media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
  }

  .containerInfoHome {
    width: 100%;
    height: fit-content;
    background: rgb(237, 177, 25);
    background: linear-gradient(90deg, rgba(237, 177, 25, 1) 30%, rgba(244, 201, 53, 1) 55%, rgba(236, 202, 115, 1) 80%);
    color: black !important;
    padding-left: 150px;
    padding-right: 150px;

}

.containerPossibilites{
  background: url("/img/index/BG.png") no-repeat;
  background-size: cover; 
  background-position: center; 
  color: white;
}

.rowInfo{
    max-width: 90%;
}
  
  
.containerLoseTime{
  background-image: url('/img/index/Marble.png');
   height: fit-content;
}

.perguntas{
  color: #fff;
}

.accordion{
  width: 80%;
  margin: 0 auto
}
